<div class="text-layout">
  <h1>Pipes No comunes</h1>
  <p>
    Pipes incluidos en Angular - Usualmente en el modulo de Common Module.
  </p>
</div>

<div class="grid">
  <div class="md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        Saludos {{name}} es un placer {{gender | i18nSelect : invitationMap }} a nuestro evento
      </p>
      <button pButton type="button" label="Cambiar cliente" (click)="changeCustomer()"></button>
    </p-fieldset>
  </div>
  <div class="md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>
        Actualmente {{customers.length | i18nPlural : customersMap}}
      </p>
      <button pButton type="button" label="Borrar cliente" class="p-button-danger" (click)="deleteCustomer()"></button>
    </p-fieldset>
  </div>

  <div class="md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
     <b>Original</b>
     <pre>{{customers}}</pre>

     <b>slice:0:2</b>
     <pre>{{customers | slice : 0 : 2}}</pre>
     
     <b>slice:1:2</b>
     <pre>{{customers | slice : 1 : 2}}</pre>
    </p-fieldset>
  </div>

  <div class="md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true">
      <pre>
        {{ hero | json }}
      </pre>
    </p-fieldset>
  </div>

  <div class="md:col-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of people | keyvalue">
          <strong>{{item.key | titlecase}}:</strong> {{item.value}}
        </li>
      </ul>
    </p-fieldset>
  </div>
  
  <div class="md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <pre>{{myObservable | async}}</pre>

      <pre *ngIf="!(valuePromise | async)">Resolviendo Promesa</pre>
      <pre>{{valuePromise | async}}</pre>
    </p-fieldset>
  </div>
</div>
